# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environment
venv/

# Django FAISS index folders
django_*_faiss_index/

# Environment files
.env

# General Django project folders (optional, if all follow django_X pattern)
django/
django_[1-5]/
